# Default ignored files
/shelf/
/workspace.xml
/.idea/
__pycache__/
/auxdb.json
/convert/
/convert_dev/
/auxdb_self_recovered.temp
/build/
/dist/

settings.json

# bg3 visual resource collector
/freedom_mod/
